* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


h1,h2{
    font-size: 35px;
    font-family: 'Times New Roman', Times, serif;

}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
}

header {
    background: #35424a;
    color: #ffffff;
    padding: 10px 0;
}

nav ul {
    list-style: none;
    text-align: center;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: #ffffff;
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: underline;
}

main {
    padding: 20px;
}

section {
    margin: 20px 0;
    padding: 20px;
    background: #ffffff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}


footer {
    text-align: center;
    padding: 10px 0;
    background: #35424a;
    color: #ffffff;
    position: relative;
    bottom: 0;
    width: 100%;
}


/* Media Queries */

/* Estilos para pantallas pequeñas (dispositivos móviles) */
@media (max-width: 600px) {
    nav ul li {
        display: block;
        margin: 10px 0;
    }

    section {
        padding: 15px;
    }
}

.menu-icon {
    display: none;
    font-size: 30px;
    color: white;
    cursor: pointer;
}

.seleccion {
    background-color: black;
    color: white;
    

}

/* Cuando la pantalla es pequeña (por ejemplo, iPhone) */
@media (max-width: 600px) {
    ul {
        display: none;
        flex-direction: column;
        background-color: #333;
        position: absolute;
        top: 50px;
        right: 0;
        width: 200px;
    }

    ul li {
        text-align: center;
        padding: 10px 0;
    }

    .menu-icon {
        display: block;
    }
}

/* Estilos para pantallas medianas (tabletas) */
@media (min-width: 601px) and (max-width: 900px) {
    nav ul li {
        display: inline;
        margin: 0 10px;
    }

    main {
        padding: 15px;
    }

    section {
        margin: 15px 0;
        padding: 20px;
    }
}

/* Estilos para pantallas grandes (computadoras) */
@media (min-width: 901px) {
    nav ul li {
        display: inline;
        margin: 0 15px;
    }

    main {
        padding: 20px;
    }

    section {
        margin: 20px 0;
        padding: 20px;
    }
}